@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/graybg.avif");
  background-size: cover;
  margin-bottom: 200px;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

h3 {
  font-weight: bold;
}

.menubar {
  display: flex;
  align-items: center;
  justify-items: space-around;
  margin: auto;
}

.bag {
  width: 40px;
  height: 40px;
}

.filterbuttons {
  margin-left: 15px;
  margin-bottom: 20px;
  border: solid;
  border-radius: 10px;
  width: 100px;
  border-color: red;
  background-color: rgb(254 202 202);
  font-weight: 500;
}

.selected {
  background-color: white;
}

.menuitems {
  border: solid;
  border-radius: 25px;
  min-width: 10px;
  max-width: 180px;
  min-height: 180px;
  border-color: red;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 3px lightgray;
}

.button {
  border: solid;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  border-color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 3px 3px lightgray;
  margin-top: 10px;
  margin-bottom: 210px;
}

.foodpics {
  width: 200px;
  height: 100px;
}

.position {
  border: solid;
  border-radius: 10px;
  width: 300px;
  height: 350px;
  border-color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 3px 3px lightgray;
  margin-top: 50px;
  background: white;
}

.footer {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  min-height: 110px;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  color: white;
}
